body {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Arial, sans-serif;
	font-size: 16px;
}
.container {
	width: 80%;
	margin: 0 auto;
	max-width: 800px;
	padding: 20px;
}

.filter-controls {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.filter-controls input,
.filter-controls select,
.filter-controls label {
	margin-right: 10px;
	padding: 5px;
}

.filter-controls label {
	display: flex;
	align-items: center;
}

.filter-controls input[type='checkbox'] {
	margin-left: 5px;
}

.table-container {
	width: 100%;
	border-collapse: collapse;
}

.table-container th,
.table-container td {
	border: 1px solid #000000;
	padding: 8px;
	text-align: left;
}

.table-container th {
	background-color: #2645f5;
	font-weight: bold;
}

.table-container tr:nth-child(even) {
	background-color: #666666;
}

.table-container tr:hover {
	background-color: #16c2d8;
}
